@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

@layer base {
  :root {
    --color: #1ba13dd2;
    --primary-color: #2c398d;
    --primary-light: #00a3d9;
    --primary-dark: #0e76a8;

    --secondary-color: #d90081;
    --secondary-light: #ec008d;
    --secondary-dark: #ec008e;

    /* f4f6f8 
    f5f9ff
    */
    --body-bg: #f4f6f8;
    --light-foreground: #fbfbfb;
    --light-background: #f4f6f8;
    --light-secondary-background: #dadada;
    --light-border: #dedde2;

    --dark-foreground: #252329;
    --dark-background: #19181b;
    --dark-secondary-background: #919191;
    --dark-border: #3e3b45;

    --light-text: #fefefe;
    --light-secondary-text: #d8d6dc;
    --dark-text: #202020;
    --dark-secondary-text: #646168;

    --danger-text: #d91006;
    --danger-bg: #e00b0b;
    --popup-bg: #4b4a4a60;
    --orange-bg: #ff9800;
    --green-bg: #4caf50;

    --green-text: #177e1a;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background: var(--body-bg);
    scroll-behavior: smooth;
  }

  .fade-in img {
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #specials {
    scroll-behavior: smooth;
  }
}
