@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

@layer base {
  :root {
    --primary-color: #2c398d;
    --primary-light: #00a3d9;
    --primary-dark: #0e76a8;

    --secondary-color: #d90081;
    --secondary-light: #ec008d;
    --secondary-dark: #ec008e;

    --light-foreground: #fbfbfb;
    --light-background: #efeff1;
    --light-border: #dedde2;

    --dark-foreground: #252329;
    --dark-background: #19181b;
    --dark-border: #3e3b45;

    --light-text: #fefefe;
    --light-secondary-text: #d8d6dc;
    --dark-text: #3e3e3e;
    --dark-secondary-text: #8a8495;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background: var(--light-background);
    scroll-behavior: smooth;
  }

  .fade-in img {
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
